:root {
  --red: #eb4646;
  --off-black: #0f0f0f;
}

* {
  background-color: #f0f0f0;
  color: var(--off-black);
}

.App {
  max-width: 600px;
  margin: 30px auto;
  padding: 0 10px;
}

.App-header {
  font-size: 70px;
  font-weight: 500;
}

.App-header a {
  color: var(--off-black);
  text-decoration: none;
}

.Footer {
  font-size: 10px;
  margin-top: 30px;
  color: grey;
}

.Footer a {
  color: grey;
}

.Footer a:hover {
  color: var(--red);
}
