form {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  margin: 10px 0 50px;
}

.input {
  border: none;
  border-bottom: 1px solid var(--off-black);
  padding: 6px;
  color: var(--red);
  font-size: 34px;
  font-weight: 500;
  line-height: 1;
}

.input:focus-visible {
  outline: none;
  border-color: var(--red);
}

.search-btn {
  border: 1px solid var(--off-black);
  padding: 5px 16px;
  margin-left: 5px;
}

.search-btn:hover {
  background-color: rgba(235, 70, 70, 0.7);
  border: 1px solid rgba(235, 70, 70, 0.7);
}

.search-btn:active {
  background-color: rgba(235, 70, 70, 0.9);
}
