.synonym-word {
    display: inline-block;
    background-color: rgba(235, 70, 70, .7);
    color: var(--off-black);
    margin: 2px 2px;
    padding: 4px 8px;
    border-radius: 6px;
}

.synonyms-title {
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px;
}